{
	"extends": [
		"eslint:recommended",
		"plugin:wc/best-practice"
	],
	"parserOptions": {
		"ecmaVersion": "2020",
		"sourceType": "module"
	},
	"env": {
		"browser": true
	},
	"rules": {
		"no-unexpected-multiline": "off"
	}
}
