{
	"extends": ["eslint:recommended", "plugin:wc/best-practice"],
	"parserOptions": {
		"sourceType": "module"
	},
	"env": {
		"es2022": true,
		"browser": true
	},
	"rules": {
		"no-unexpected-multiline": "off"
	}
}
